@page
@model ElevatedExperiencesEventPlanner.Pages.Schedules.CalendarModel
@{

}


<div id="calendar"></div>

@* @section Scripts
{

    <script>
        $(function () {
            $('#calendar').fullCalendar({});

        })
    </script>
} *@